.shadow { 
    color: white; 
    font: bold 52px Helvetica, Arial, Sans-Serif;
    text-shadow: 1px 1px #d4a259, 
                 2px 2px #d4a259, 
                 3px 3px #d4a259;
    -webkit-transition: all 0.12s ease-out;
    -moz-transition:    all 0.12s ease-out;
    -ms-transition:     all 0.12s ease-out;
    -o-transition:      all 0.12s ease-out;
 }
 .shadow:hover {
    position: relative; 
    top: -3px; 
    left: -3px; 
    text-shadow: 1px 1px #d4a259, 
                 2px 2px #d4a259, 
                 3px 3px #d4a259, 
                 4px 4px #d4a259, 
                 5px 5px #d4a259, 
                 6px 6px #d4a259;
 }

.letterpress {
    color: #aaa;
    text-shadow: 0px 2px 3px #000;
}

.gallery .content .media a {
    outline: none;
}

.gallery .content .media p {
    text-align: center;
}

.gallery .content .media a {
    text-decoration: none;
}

#contact .column.social {
    background: #1d1d1d !important;
    color: #fff;
}

#contact .column.message {
    background: #4a4a4a;
    color: #fff;
}

#galleries {
    color: #fff;
}

.media{
    border-radius: 10%;
}

#explore {
    background: #333;
}

.button.alt.scrolly.big {
    outline: none;
}

.submit {
    background: #d4a259 !important;
}

.submit:hover {
    background: #a98147 !important;
}

.icon {
    color: #d4a259;
}

.icon:hover {
    color: #a98147;
}


.project_title > a {
    color: #d4a259;
    outline: none;
}

.project_title > a:hover {
    color: #a98147;
}

.form_control {
    color: #000;
}

.form_control label {
    color: #fff;
}